<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	
	<title>White Label - a full featured Admin Skin</title>
	
	<meta name="description" content="">
	<meta name="author" content="revaxarts.com">
	
	
	<!-- Google Font and style definitions -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold">
	<link rel="stylesheet" href="css/style.css">
	
	<!-- include the skins (change to dark if you like) -->
	<link rel="stylesheet" href="css/light/theme.css" id="themestyle">
	<!-- <link rel="stylesheet" href="css/dark/theme.css" id="themestyle"> -->
	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	
	<!-- Apple iOS and Android stuff -->
	<meta name="apple-mobile-web-app-capable" content="no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	
	<!-- Apple iOS and Android stuff - don't remove! -->
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
	
	<!-- Use Google CDN for jQuery and jQuery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
	
	<!-- Loading JS Files this way is not recommended! Merge them but keep their order -->
	
	<!-- some basic functions -->
	<script src="js/functions.js"></script>
		
	<!-- all Third Party Plugins and Whitelabel Plugins -->
	<script src="js/plugins.js"></script>
	<script src="js/editor.js"></script>
	<script src="js/calendar.js"></script>
	<script src="js/flot.js"></script>
	<script src="js/elfinder.js"></script>
	<script src="js/datatables.js"></script>
	<script src="js/wl_Alert.js"></script>
	<script src="js/wl_Autocomplete.js"></script>
	<script src="js/wl_Breadcrumb.js"></script>
	<script src="js/wl_Calendar.js"></script>
	<script src="js/wl_Chart.js"></script>
	<script src="js/wl_Color.js"></script>
	<script src="js/wl_Date.js"></script>
	<script src="js/wl_Editor.js"></script>
	<script src="js/wl_File.js"></script>
	<script src="js/wl_Dialog.js"></script>
	<script src="js/wl_Fileexplorer.js"></script>
	<script src="js/wl_Form.js"></script>
	<script src="js/wl_Gallery.js"></script>
	<script src="js/wl_Multiselect.js"></script>
	<script src="js/wl_Number.js"></script>
	<script src="js/wl_Password.js"></script>
	<script src="js/wl_Slider.js"></script>
	<script src="js/wl_Store.js"></script>
	<script src="js/wl_Time.js"></script>
	<script src="js/wl_Valid.js"></script>
	<script src="js/wl_Widget.js"></script>
	
	<!-- configuration to overwrite settings -->
	<script src="js/config.js"></script>
		
	<!-- the script which handles all the access to plugins etc... -->
	<script src="js/script.js"></script>
	
	
</head>
<body>
				<div id="pageoptions">
			<ul>
				<li><a href="login.html">Logout</a></li>
				<li><a href="#" id="wl_config">Configuration</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
			<div>
						<h3>Place for some configs</h3>
						<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			</div>
		</div>

			<header>
		<div id="logo">
			<a href="dashboard.html">Logo Here</a>
		</div>
		<div id="header">
			<ul id="headernav">
				<li><ul>
					<li><a href="icons.html">Icons</a><span>300+</span></li>
					<li><a href="#">Submenu</a><span>4</span>
						<ul>
							<li><a href="#">Just</a></li>
							<li><a href="#">another</a></li>
							<li><a href="#">Dropdown</a></li>
							<li><a href="#">Menu</a></li>
						</ul>
					</li>
					<li><a href="login.html">Login</a></li>
					<li><a href="wizard.html">Wizard</a><span>Bonus</span></li>
					<li><a href="#">Errorpage</a><span>new</span>
						<ul>
							<li><a href="error-403.html">403</a></li>
							<li><a href="error-404.html">404</a></li>
							<li><a href="error-405.html">405</a></li>
							<li><a href="error-500.html">500</a></li>
							<li><a href="error-503.html">503</a></li>
						</ul>
					</li>
				</ul></li>
			</ul>
			<div id="searchbox">
				<form id="searchform" autocomplete="off">
					<input type="search" name="query" id="search" placeholder="Search">
				</form>
			</div>
			<ul id="searchboxresult">
			</ul>
		</div>
	</header>

				<nav>
			<ul id="nav">
				<li class="i_house"><a href="dashboard.html"><span>Dashboard</span></a></li>
				<li class="i_book"><a><span>Documentation</span></a>
					<ul>
						<li><a href="doc-alert.html"><span>Alert Boxes</span></a></li>
						<li><a href="doc-breadcrumb.html"><span>Breadcrumb</span></a></li>
						<li><a href="doc-calendar.html"><span>Calendar</span></a></li>
						<li><a href="doc-charts.html"><span>Charts</span></a></li>
						<li><a href="doc-dialog.html"><span>Dialog</span></a></li>
						<li><a href="doc-editor.html"><span>Editor</span></a></li>
						<li><a href="doc-file.html"><span>File</span></a></li>
						<li><a href="doc-fileexplorer.html"><span>Fileexplorer</span></a></li>
						<li><a href="doc-form.html"><span>Form</span></a></li>
						<li><a href="doc-gallery.html"><span>Gallery</span></a></li>
						<li><a href="doc-inputfields.html"><span>Inputfields</span></a></li>
						<li><a href="doc-slider.html"><span>Slider</span></a></li>
						<li><a href="doc-store.html"><span>Store</span></a></li>
						<li><a href="doc-widget.html"><span>Widget</span></a></li>
					</ul>
				</li>
				<li class="i_create_write"><a href="form.html"><span>Form</span></a></li>
				<li class="i_graph"><a href="charts.html"><span>Charts</span></a></li>
				<li class="i_images"><a href="gallery.html"><span>Gallery</span></a></li>
				<li class="i_blocks_images"><a href="widgets.html"><span>Widgets</span></a></li>
				<li class="i_breadcrumb"><a href="breadcrumb.html"><span>Breadcrumb</span></a></li>
				<li class="i_file_cabinet"><a href="fileexplorer.html"><span>Fileexplorer</span></a></li>
				<li class="i_calendar_day"><a href="calendar.html"><span>Calendar</span></a></li>
				<li class="i_speech_bubbles_2"><a href="dialogs_and_buttons.html"><span>Dialogs &amp; Buttons</span></a></li>
				<li class="i_table"><a href="datatable.html"><span>Table</span></a></li>
				<li class="i_typo"><a href="typo.html"><span>Typo</span></a></li>
				<li class="i_grid"><a href="grid.html"><span>Grid</span></a></li>
			</ul>
		</nav>
		
			
		<section id="content">
			
			<div class="g12">
				
			<h1>Breadcrumb <span title="current version: 1.0">v 1.0</span></h1>
			<p>Makes and handles a breadcrumb navigation</p>
			
			
			<h3>Options <span>read more about <a href="doc-inline-data-types.html">inline data attributes</a></span></h3>
			<table class="documentation">
			<thead>
				<tr><th>option</th><th>default</th><th>possible values</th><th>description</th><th>since</th><th>info</th></tr>
			</thead>
			<tbody>
			<tr><th>start</th><td>0</td><td>integer</td>
			<td>defines the start field id (starting with 0)</td><td>1.0</td>
			</tr>
			<tr><th>numbers</th><td>false</td><td>true | false</td>
			<td>display numbers before the text</td><td>1.0</td>
			</tr>
			<tr><th>allownextonly</th><td>false</td><td>true | false</td>
			<td>only previous fields and the next field is clickable</td><td>1.0</td>
			</tr>
			<tr><th>locked</th><td>false</td><td>true | false</td>
			<td>defines if the breadcrumb is locked</td><td>1.0</td>
			</tr>
			<tr><th>connect</th><td>null</td><td>id of the connected DOM element</td>
			<td>parse the query string from the location and fill the form with the data</td><td>1.0</td>
			</tr>
			<tr><th>onChange</th><td>function(){}</td><td>function(element,id)</td>
			<td>callback if the breadcrumb changed. element is the respective jQuery element. id is the id of the field</td><td>1.0</td>
			</tr>
			</tbody>
			</table>
			
			<h3>Methods</h3>
			<table class="documentation">
			<thead>
			<tr><th>method name</th><th>default</th><th>arguments</th><th>description</th><th>since</th><th>info</th></tr>
			</thead>
			<tbody>
			<tr><th>activate</th><td></td><td>element | id</td>
			<td>activate the start field id. element can be the id or the jQuery element</td><td>1.0</td>
			</tr>
			<tr><th>lock</th><td>true</td><td>boolean</td>
			<td>lock or unlock the whole breadcrumb (unlock with lock(false) )</td><td>1.0</td>
			</tr>
			<tr><th>next</th><td></td><td></td>
			<td>activates the next field</td><td>1.0</td>
			</tr>
			</tr>
			<tr><th>prev</th><td></td><td></td>
			<td>activates the previous field</td><td>1.0</td>
			</tr>
			<tr><th>set</th><td></td><td>key, value</td>
			<td>sets the the option 'key' with the value 'value'</td><td>1.0</td>
			</tr>
			</tbody>
			</table>
			
			<h3>Usage</h3>
<pre>$(selector).wl_Breadcrumb([options]);</pre>
	
			<h3>Calling Methods</h3>
<pre>$(selector).wl_Breadcrumb('method', [,arg [,arg]]);</pre>	

	
			<h3>Markup</h3>
<pre>
&lt;ul class="breadcrumb"&gt;
	&lt;li&gt;&lt;a&gt;Welcome&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a&gt;Article&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a&gt;Send&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a&gt;Payment&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a&gt;Confirmation&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
			<h3>Use Icons</h3>
<pre>
&lt;ul class="breadcrumb"&gt;
	&lt;li class="i_house"&gt;&lt;a&gt;Welcome&lt;/a&gt;&lt;/li&gt;
	&lt;li class="i_book"&gt;&lt;a&gt;Article&lt;/a&gt;&lt;/li&gt;
	&lt;li class="i_inbox"&gt;&lt;a&gt;Send&lt;/a&gt;&lt;/li&gt;
	&lt;li class="i_money"&gt;&lt;a&gt;Payment&lt;/a&gt;&lt;/li&gt;
	&lt;li class="i_information"&gt;&lt;a&gt;Confirmation&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>

			<h3>Markup of a connected element</h3>
<pre>
&lt;div id="breadcrumbcontent"&gt;
	&lt;div&gt;
		&lt;h3&gt;Welcome&lt;/h3&gt;
		...
	&lt;/div&gt;
	&lt;div&gt;
		&lt;h3&gt;Article&lt;/h3&gt;
		...
	&lt;/div&gt;
	&lt;div&gt;
		&lt;h3&gt;Send&lt;/h3&gt;
		...
	&lt;/div&gt;
	&lt;div&gt;
		&lt;h3&gt;Payment&lt;/h3&gt;
		...
	&lt;/div&gt;
	&lt;div&gt;
		&lt;h3&gt;Confirmation&lt;/h3&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;</pre>				

			<h3>Examples</h3>
				<ul class="breadcrumb">
					<li><a>Welcome</a></li>
					<li><a>Article</a></li>
					<li><a>Send</a></li>
					<li><a>Payment</a></li>
					<li><a>Confirmation</a></li>
				</ul>
				<ul class="breadcrumb">
					<li class="i_house"><a>Welcome</a></li>
					<li class="i_book"><a>Article</a></li>
					<li class="i_inbox"><a>Send</a></li>
					<li class="i_money"><a>Payment</a></li>
					<li class="i_information"><a>Confirmation</a></li>
				</ul>
				<ul class="breadcrumb" data-connect="breadcrumbcontent">
					<li><a href="#">Welcome</a></li>
					<li><a href="#">Article</a></li>
					<li><a href="#">Send</a></li>
					<li><a href="#">Payment</a></li>
					<li><a href="#">Confirmation</a></li>
				</ul>
				<div id="breadcrumbcontent">
					<div>
						<h3>Welcome</h3>
						<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
						<hr>
						<button class="next">.next</button>
						</p>
					</div>
					<div>
						<h3>Article</h3>
						<p>
						Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
						purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
						velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
						suscipit faucibus urna.
						<hr>
						<button class="prev">.prev</button><button class="next">.next</button>
						</p>
					</div>
					<div>
						<h3>Send</h3>
						<p>
						Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
						Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
						ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
						lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
						<hr>
						<button class="prev">.prev</button><button class="next">.next</button>
						</p>
					</div>
					<div>
						<h3>Payment</h3>
						<p>
						Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
						Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
						ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
						lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
						<hr>
						<button class="prev">.prev</button><button class="next">.next</button>
						</p>
					</div>
					<div>
						<h3>Confirmation</h3>
						<p>
						Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
						Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
						ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
						lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
						<hr>
						<button class="prev">.prev</button>
						</p>
					</div>
				</div>
			</div>

			</div>
		</section><!-- end div #content -->
		<footer>Copyright by revaxarts.com 2012</footer>
</body>
</html>