#text_field_task {
	border-width: 10px;
	display: inline-block;
	font-size: 3em;
	opacity: 0.4;
	width: 235%;
}

.i_bended_arrow_down {
	text-align : center;
	width : 300px !important;
	margin-left: 78%;
	display : inline-block;

}

.singleDueDate {
	display : inline-block;
	height : 22px;
	width : 100px;
}

.ui-widget-content {
	cursor : pointer;
}

.xCross {
	width : 0px !important;
	display : inline-block !important;
}

#wordingProtect { 
	display : inline;
	/* can't use span :/*/
}
