/* Haut du dashboard */

#howdy_button {
	border: 0px;
    color: #353535;
    text-shadow: 0 1px 0 #FFFFFF;padding: 15px 15px 10px 10px;
	position:relative;
	float:left;
}

#lg_txt {
	color: #353535;font-weight: none;
}

.textAlignCenter{
	text-align:center;
}

.textAlignRight{
	text-align:right;
}

input.passwordInput{
	width:99%;
}