.taskcolumn {
	margin-left: 50px;
}

.singleTitle{ 
  width:150px;
  font-weight:bold;
  display: inline-block;
}

.singleDueDate{ 
  width:50px;
  display: inline-block;
}

.singlePriority{ 
  width:60px;
  display: inline-block;
}

.singleIsImportant{ 
  width:20px;
  display: inline-block;
}

.singleTag{ 
  width:100px;
  display: inline-block;
}

#taskListRefresh ul li {
	border : 1px solid;
	padding : 5px;
	margin-bottom : 5px;
	list-style : none;
}

.deleteTag {
	display : none;
	position : relative;
	left : -18px;
	top : -9px;
}

.deleteTag a, .deleteTag a:hover, .deleteTag a:visited {
	border : 0px;
	text-decoration : none;
}

#draggableHelper {
	border : 2px solid;
	z-index : 200 !important;
}