.singleTitle{
  border:1px solid black;
  width:150px;
  display: inline-block;
}

.singleDueDate{
  border:1px solid black;
  width:50px;
  display: inline-block;
}

.singlePriority{
  border:1px solid black;
  width:20px;
  display: inline-block;
}

.singleIsImportant{
  border:1px solid black;
  width:20px;
  display: inline-block;
}

.singleTag{
  border:1px solid black;
  width:100px;
  display: inline-block;
}

#taskListRefresh ul li {
	border : 1px solid;
	padding-bottom : 5px;
	margin-bottom : 5px;
	list-style : none;
}