.moreoptions {
	background-image: url("../img/displaymore.png");
	background-position: 82% 41%;
	background-repeat: no-repeat;
	font-size: 12pt;
	margin-top: 10px;
	padding-right: 2em;
	text-align: right;
	width: 240%;
}

.lessoptions {
	background-image: url("../img/minus.png");
	background-position: 52% 41%;
	background-repeat: no-repeat;
    margin-top: 10px;
	font-size: 12pt;
	padding-right: 2em;
	text-align: right;
	width: 95%;
}